/*
**	TTUJ
*/
.ttuj-form #step2, .laka-form #step2 {
	display: none;
}

#ttuj-perlengkapan .checkbox {
	margin: 0;
}

.form-control-feedback {
	width: auto;
	right: 10px;
}
/*
**	END TTUJ
*/

/*
**	Truck
*/
/*#main-alocation .has-feedback .form-control {
	width: 90%;
}*/

/*#main-alocation .has-feedback a {
	pointer-events: visible;
}*/
.list-perlengkapan .seperator {
	border-top: 1px solid #CCCCCC;
	padding-top: 10px;
}

.list-perlengkapan .seperator:first-child {
	border-top: none;
	padding-top: 0;
}

.list-alocation .delete-custom-field {
	display: block;
	margin-top: 5px;
	text-align: center;
}

#box-field-input .list-alocation .delete-custom-field {
	display: none;
}

.month-name-container {
	font-style: 16px;
	margin: 5px 0 15px;
	position: relative;
}

.month-name-container .last-month {
	left: 0;
}

.month-name-container .next-month {
	right: 0;
}

.month-name-container .last-month, .month-name-container .next-month {
	position: absolute;
	top: 5px;
}

.month-name-container a {
	color: #999;
	-moz-transition: color,.2s;
	-o-transition: color,.2s;
	-webkit-transition: color,.2s;
	transition: color,.2s;
}

.month-name-container .current-month {
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	color: #666;
}

.month-name-container .last-month, .month-name-container .next-month {
	position: absolute;
	top: 5px;
}

td.berangkat {
	background: #4389fe;
}

td.tiba {
	background: #f39c12;
}

td.bongkaran {
	background: #d9516f;
}

td.balik {
	background: #3d9970	;
}

td.pool {
	background: #00a65a;
}

td.color {
	background: #DDD;
}

td.multiple {
	background: #232f44;
}

td.multiple a {
	color: #FFFFFF;
}

table.monitoring td > div {
	font-size: 18px;
	vertical-align: middle;
	font-weight: bold;
}

ul.list-calendar {
	padding: 0;
}

.list-calendar li {
	margin-bottom: 10px;
	list-style-type: none;
}

table.monitoring .icon-popup,
.multiple-modal .list-calendar .ico-calendar {
	display: none;
}

.multiple-modal .list-calendar .icon-popup,
table.monitoring .ico-calendar {
	display: block;
}

table.monitoring .ico-calendar {
	height: 30px;
	margin: 0 auto;
}

table.monitoring td {
	height: 47px;
}

.list-report-monitoring {
	padding: 0;
}

.list-report-monitoring li {
	float: left;
	list-style-type: none;
	width: 50%;
}
/*
**	END Truck
*/