/*
**	TTUJ
*/
.ttuj-form #step2, .laka-form #step2 {
	display: none;
}

#ttuj-perlengkapan .checkbox {
	margin: 0;
}

.ttuj-form .form-control-feedback {
	width: auto;
	right: 10px;
}
/*
**	END TTUJ
*/

/*
**	Truck
*/
/*#main-alocation .has-feedback .form-control {
	width: 90%;
}*/

/*#main-alocation .has-feedback a {
	pointer-events: visible;
}*/
.list-perlengkapan .seperator {
	border-top: 1px solid #CCCCCC;
	padding-top: 10px;
}

.list-perlengkapan .seperator:first-child {
	border-top: none;
	padding-top: 0;
}

.list-alocation .delete-custom-field {
	display: block;
	margin-top: 5px;
	text-align: center;
}

#box-field-input .list-alocation .delete-custom-field {
	display: none;
}
/*
**	END Truck
*/